h2{
	text-align: center;
	font-family: "Courier New";
	border: 2px solid black;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
	width: 40%;
	padding: 10px;
	background: #ff9a00;
}

h5{
	text-align: center;
	font-family: "Courier New";
	font-size: 5px;
	border: 2px solid black;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
	width: 95%;
	padding: 10px;
	background: #ff9a00;
}

p{
	text-align: left;
	border: 1px solid black;
	font-family: "Courier New";
	margin: 20px;
	background: #00a2ff;
	padding: 10px;
}

.imgborder{
	width: 50%;
}

.imgcredits{
	text-align: center;
	background: none;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

img{
	border: 2px solid black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}