/*base stuff*/
h2{
	text-align: center;
	font-family: "Courier New";
	border: 2px solid black;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
	width: 40%;
	padding: 10px;
	background: #ff9a00;
}

p{
	text-align: left;
	border: 1px solid black;
	font-family: "Courier New";
	margin: 20px;
	padding: 30px;
}

/*link stuff*/
a:link{
    color: black;
}

a:visited{
    color: purple;
}

/*img related stuff*/
.imgcredits{
	text-align: center;
	background: orange;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

img{
	border: 2px solid black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#gladospic{
	width: 50%;
	height: 50%;
}

#panel, #flip{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding: 5px;
    text-align: center;
    background-color: orange;
    border: 1pz solid black;
}
#panel{
    display: none;
}

/*card stuff */

button{
	text-align: center;
	font-family: "Courier New";
	border: 2px solid black;
    width: 100%;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	background: #ff9a00;
}
	
.card-deck{
	width: 100%;
    margin: auto;
}
	
.card-img-top{
    width:75%;
    height: 75%;
}
	
.funfact{
	background: #ff9a00;
}

h4{
	text-align: center;
}

.btn-primary{
	margin-left: auto;
	margin-right: auto;
}

#valvefact{
    display: none;
}
