h2{
	text-align: center;
	font-family: "Courier New";
	border: 2px solid black;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
	width: 40%;
	padding: 10px;
	background: Orange;
}
p{
	text-align: left;
	font-family: "Courier New";
	margin: 20px;
	background: lightblue;
}